
<nav class="nav-bar-fixed-top">
  <div class='nav-container'>
      <a href = '/addbook'>Add Book To Catalog</a>
      <a href = '/books'>Search Books</a>
      <a href = '/'>Home</a>
  </div>
</nav>
<div>
<h1>{{#each Title}}{{Title}}{{/each}}:</h1>
<table>
  <thead>
    <th>Title</th>
  </thead>
  <tbody>
    {{#each Title}}
          <tr>
            <td><input type= 'text' value='{{Title}}'></input></td>
            <td><button onclick="deletetitle({{ID}})">Delete</button>
            <button onclick="updatetitle()">Update Title</button></td>
          </tr>
      {{/each}}
  </tbody>

  <thead>
    <th>Author First</th>
    <th>Author Last</th>
  </thead>
  <tbody>
    {{#each Authors}}
          <tr>
            <td><input type= 'text' value={{Fname}}></input></td>
            <td><input type= 'text' value={{Lname}}></input></td>
            <td><button onclick="deleteauthor({{AID}})">Delete</button>
            <button onclick="updateauthor()">Update Author</button></td>
          </tr>
      {{/each}}
      <tr>
        <td><input type= 'text' name='addfname' id='fn' value='Add author first'></input></td>
        <td><input type= 'text' name='addlname' id='ln' value='Add author last'></input></td>
        <td><button onclick="addauthor({{ID}})">Add Author</button></td>
      </tr>
  </tbody>

  <thead>
    <th>Publisher(s)</th>
  </thead>
  <tbody>
    {{#each Publishers}}
        <tr>
          <td><input type= 'text' value={{pub_name}}></input></td>
          <td><button onclick="deletepublisher({{PID}})">Delete</button>
          <button onclick="updatepublisher()">Update Publisher</button></td>
        </tr>
    {{/each}}
    <tr>
      <td><input type= 'text' name='publisher' id = 'pn' value='Add publisher'></input></td>
      <td><button onclick="addpublisher({{ID}})">Add Publisher</button></td>
    </tr>
  </tbody>


  <thead>
    <th>Genre(s)</th>
  </thead>
  <tbody>
    {{#each Genres}}
          <tr>
            <td><input type= 'text' value={{gen_name}}></input></td>
            <td><button onclick="deletegenre({{GID}})">Delete</button>
            <button onclick="updategenre()">Update Genre</button></td>
          </tr>
      {{/each}}
        <tr>
          <td><input type= 'text' name='genre' id = 'gn' value='Add Genre'></input></td>
          <td><button onclick="addgenre({{ID}})">Add Genre</button></td>
        </tr>
    </tbody>
</table>

<h1>{{message}}</h1>
</div>
